/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}

iframe{
  pointer-events: none;
}

a {
  color: #54606c;
}


.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #EEF0FF;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 150ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

.menuGrid::-webkit-scrollbar{
  display: none;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  margin: auto;
  width: 100%;
}

.Score {
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  background-color: green;
  width: 40px;
}

.Score--bounce {
  animation: Score-keyframes--bounce 3s ease-out
}

@keyframes Score-keyframes--bounce {
  0%,
  to {
    transform: rotate(0);
    opacity: 0;
  }
  10% {
    transform: scale(1.1);
    opacity: 1;
  }
  20% {
    transform: rotate(4deg) translateY(-12px)
  }
  40% {
    transform: rotate(2deg) translateY(0)
  }
  60% {
    transform: rotate(-2deg) translateY(-8px)
  }
  80% {
    transform: rotate(-1deg) translateY(0)
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* form {
  display: flex;
  flex-direction: column;
} */

/* input {
  max-width: 450px;
  width: auto;
  border: none;
  margin: 0 0 25px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 10px;
} */